*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#0d1117;
color:white;
}

.container{
width:90%;
margin:auto;
padding:40px;
}

h1{
margin-bottom:30px;
}

.device-card{

background:#161b22;

padding:25px;

margin-bottom:20px;

border-radius:15px;

border:1px solid #30363d;

box-shadow:0 0 15px rgba(0,255,150,.08);

}

.device-header{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

.online{

color:#2ecc71;

font-weight:bold;

}

.info{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:10px;

margin-bottom:25px;

}

.buttons{

display:flex;

gap:15px;

}

button{

padding:12px 22px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:15px;

transition:.3s;

}

.shutdown{

background:#e74c3c;

color:white;

}

.restart{

background:#f39c12;

color:white;

}

.lock{

background:#3498db;

color:white;

}

button:hover{

transform:scale(1.05);

}

.screen{
    width:100%;
    border-radius:12px;
    margin:20px 0;
    border:1px solid #333;
}